[worldserver]

########################################
# My module configuration
########################################
#
#    CustomStuff.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

CustomStuff.Enable = 1
CustomStuff.StartingGold = 500
CustomStuff.StartingLevel = 20
